./venv
*/venv

*/__pycache__
*/models/__pycache__
./app/models/__pycache__
./app/modules/Auth/__pycache__
./app/modules/Auth/__pycache__/*.pyc
./app/modules/database/__pycache__
./app/modules/database/__pycache__/*.pyc
./app/modules/tickets/__pycache__
./app/modules/tickets/__pycache__/*.pyc
*.pyc

*/instance
instance/*
./instance
instance/project6.db

./pytest_cache
*/pytest_cache
./vscode
*/vscode

.DS_Store
app/.DS_Store

./search_terms.csv
./test_users.csv
./*.csv